<include file="Public:header" />
<!--content-->
<div class="blog">
	<div class="container">
   <input type="hidden" value="{$CookId}" id="hiddValue"/>
		<div class="col-md-9 ">
			<!--content-->
			<div class="single">
				<div class="single-top">
					<img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" src="http://{$serverUrl}/{$data1.PicUrl}" alt="" />
					<div class="lone-line">
						<h4>{$data1.Name}32423424</h4>
						<ul class="grid-blog">
							<li><span><i class="glyphicon glyphicon-time"> </i>{$data1.CreationTime}</span></li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-comment"> </i>{$data1.commentCount} 评论</a>
							</li>
							<li>
								<span><i> 发布者：</i>{$data1.Creator}</span>
							</li>
						</ul>
						<p class="wow fadeInLeft animated" data-wow-delay=".5s">简介：<span>{$data1.briefIntroduction}</span>	</p>
						<p class="wow fadeInLeft animated" data-wow-delay=".5s">主料：<span>{$data1.Material}</span></p>
						<p class="wow fadeInLeft animated" data-wow-delay=".5s">步骤：<span>{$data1.MakeContent}</span></p>
					
					</div>
				</div>
			</div>
			<!---->
			<!--//content-->
		</div>
	</div>
</div>
<!--//content-->
<!--footer-->
<include file="Public:footer" />